mixin rating
    .rating
        .rating__item(data-rate='5')
        .rating__item(data-rate='4')
        .rating__item(data-rate='3')
        .rating__item(data-rate='2')
        .rating__item(data-rate='1')
