mixin footer
    footer.footer
        .footer__top
            .container-fluid
                .footer__top-inner
                    .footer__menu
                        ul.footer-list
                            li.footer-list__item
                                a(href='#').footer-list__link About
                            li.footer-list__item
                                a(href='#').footer-list__link Shipping & Payment
                            li.footer-list__item
                                a(href='#').footer-list__link Bonus & Referral program
                            li.footer-list__item
                                a(href='#').footer-list__link Warranty
                            li.footer-list__item
                                a(href='#').footer-list__link Reviews
                            li.footer-list__item
                                a(href='#').footer-list__link Contacts
                    .footer__menu
                        ul.footer-list
                            li.footer-list__item
                                a(href='#').footer-list__link Phone
                            li.footer-list__item
                                a(href='#').footer-list__link Tablet
                            li.footer-list__item
                                a(href='#').footer-list__link Laptop
                            li.footer-list__item
                                a(href='#').footer-list__link E-Reader
                    .footer__subscribe
                        .subscribe
                            p.subscribe__desc Subscribe and receive news about promotions and special offers!
                            form.subscribe__form
                                .subscribe__field
                                    input.subscribe__input(type='text' placeholder='Enter your e-mail address' name='email')
                                input.subscribe__btn(type='submit' value='Subscribe')
        .footer__bottom
            .container-fluid
                .footer__bottom-inner
                    .footer__copyright
                        span Copyright © Case Library, 2017
                    .footer__socials
                        ul.socials-list
                            li.socials-list__item
                                a(href='#').socials-list__link.socials-list__link--fb
                            li.socials-list__item
                                a(href='#').socials-list__link.socials-list__link--twitter
                            li.socials-list__item
                                a(href='#').socials-list__link.socials-list__link--insta
                            li.socials-list__item
                                a(href='#').socials-list__link.socials-list__link--in
                            li.socials-list__item
                                a(href='#').socials-list__link.socials-list__link--printerest
                    .footer__create
                        a(href='#').footer__create-link by Navix

