.photo {
    &-block {
        background-color: #fff;
        padding-bottom: 90px;
        &__inner {
            display: flex;
            margin: 0 -15px;
        }
        &__half {
            display: flex;
            flex-wrap: wrap;
        }
        &__more {
            width: 90px;
            height: 90px;
            position: relative;
            margin: 0 auto;
            color: $accent-color;
            font-weight: 700;
            font-size: 24px;
            display: block;
            border-radius: 50%;
            text-align: center;
            line-height: 84px;
            margin-bottom: 20px;
        }
        &__hidden {
            display: none;
        }
    }
    &-img {
        &-big {
            width: 750px;
            height: 500px;
            margin: 0 15px;
        }
        &-small {
            width: 360px;
            height: 240px;
            margin: 0 15px 20px 15px;
        }
        &-big, &-small {
            position: relative;
            display: block;
            overflow: hidden;
            &:after, &:before {
                content: '';
                display: block;
                transition: transform $color-time, opacity $color-time;
            }
            &:after {
                opacity: 0;
            }
            &:before {
                top: 0;
                position: absolute;
                left: 0;
                width: 100%;
                z-index: 1;
                height: 100%;
                background-color: rgba(255, 255, 255, .85);
                transform: translateY(100%);
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
                &:before {
                    transform: translateY(0);
                }
                .photo-img-small__inner, .photo-img-big__inner {
                    &:before, &:after {
                        opacity: 1;
                    }
                }
            }
            &:after {
                @include center;
                z-index: 3;
                width: 87px;
                height: 87px;
                background-color: $accent-color;
                border: 2px solid $accent-color;
                border-radius: 50%;
            }
            &__inner {
                display: block;
                position: relative;
                &:after, &:before {
                    content: '';
                    display: block;
                    @include center;
                    background-color: #fff;
                    z-index: 4;
                    opacity: 0;
                    transition: opacity $color-time;
                }
                &:after {
                    width: 2px;
                    height: 40px;
                }
                &:before {
                    height: 2px;
                    width: 40px;
                }
            }
        }
    }
}




.circle {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 20px auto 0;
    border-radius: 50%;
    transition: background-color $color-time;
    &:hover {
        background-color: $accent-color;
        .circle__text {
            color: #fff;
        }
    }
    &__text {
        @include center;
        color: $accent-color;
        font-weight: 700;
        display: block;
        font-size: 24px;
        transition: color $color-time;
        line-height: 24px;
        z-index: 9;
    }
}
.circle svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.circle svg.circleFill {
    z-index: 1;
    stroke-dasharray: 322;
    stroke-dashoffset: 322;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.circle svg.circleFill.filled {
    stroke-dashoffset: 38.5;
    transition: all 6500ms;
    -webkit-transition: all 6500ms;
}

.circle svg.circleTrack {
    z-index: 0;
}
