mixin main-page
    include section-top-slider/section-top-slider
    include section-category/section-category
    include section-we-offer/section-we-offer
    include section-photo-gallery/section-photo-gallery
    include section-product-slider/section-product-slider
    include section-reviews/section-reviews
