  $ar-r: 222px 253px -222px -253px 36px 8px 401px 335px 'sprite.png';
  $arrow-bot: 120px 253px -120px -253px 30px 16px 401px 335px 'sprite.png';
  $arrow-bot_hover: 188px 253px -188px -253px 30px 16px 401px 335px 'sprite.png';
  $arrow-left: 378px 0px -378px 0px 23px 42px 401px 335px 'sprite.png';
  $arrow-left_hover: 378px 46px -378px -46px 23px 42px 401px 335px 'sprite.png';
  $arrow-right: 282px 109px -282px -109px 24px 44px 401px 335px 'sprite.png';
  $arrow-right_hover: 282px 157px -282px -157px 24px 44px 401px 335px 'sprite.png';
  $arrow-top: 86px 253px -86px -253px 30px 16px 401px 335px 'sprite.png';
  $arrow-top_hover: 154px 253px -154px -253px 30px 16px 401px 335px 'sprite.png';
  $center-ico: 141px 293px -141px -293px 25px 18px 401px 335px 'sprite.png';
  $center-ico_hover: 112px 293px -112px -293px 25px 18px 401px 335px 'sprite.png';
  $change-device: 316px 109px -316px -109px 42px 50px 401px 335px 'sprite.png';
  $chat: 0px 253px 0px -253px 48px 36px 401px 335px 'sprite.png';
  $check: 378px 323px -378px -323px 14px 10px 401px 335px 'sprite.png';
  $clear-ico: 316px 163px -316px -163px 39px 50px 401px 335px 'sprite.png';
  $color-ico: 260px 218px -260px -218px 30px 30px 401px 335px 'sprite.png';
  $color-ico_hover: 52px 253px -52px -253px 30px 30px 401px 335px 'sprite.png';
  $count-left-arrow: 362px 130px -362px -130px 9px 17px 401px 335px 'sprite.png';
  $count-left-arrow_hover: 362px 109px -362px -109px 9px 17px 401px 335px 'sprite.png';
  $count-right-arrow: 391px 302px -391px -302px 9px 17px 401px 335px 'sprite.png';
  $count-right-arrow_hover: 378px 302px -378px -302px 9px 17px 401px 335px 'sprite.png';
  $dislike: 378px 148px -378px -148px 20px 24px 401px 335px 'sprite.png';
  $dislike_hover: 378px 92px -378px -92px 20px 24px 401px 335px 'sprite.png';
  $g-cart-icon: 76px 293px -76px -293px 32px 37px 401px 335px 'sprite.png';
  $g-heart-icon: 316px 217px -316px -217px 36px 31px 401px 335px 'sprite.png';
  $g-heart-icon_empty: 220px 218px -220px -218px 36px 31px 401px 335px 'sprite.png';
  $laptop-bg: 158px 0px -158px 0px 154px 105px 401px 335px 'sprite.png';
  $laptop-bg_hover: 0px 0px 0px 0px 154px 105px 401px 335px 'sprite.png';
  $like: 378px 176px -378px -176px 20px 24px 401px 335px 'sprite.png';
  $like_hover: 378px 120px -378px -120px 20px 24px 401px 335px 'sprite.png';
  $link_hover: 359px 163px -359px -163px 15px 5px 401px 335px 'sprite.png';
  $mobile-bg: 220px 109px -220px -109px 58px 105px 401px 335px 'sprite.png';
  $mobile-bg_hover: 316px 0px -316px 0px 58px 105px 401px 335px 'sprite.png';
  $search-item-arrow: 0px 293px 0px -293px 34px 42px 401px 335px 'sprite.png';
  $search-item-arrow_hover: 38px 293px -38px -293px 34px 42px 401px 335px 'sprite.png';
  $search: 378px 279px -378px -279px 19px 19px 401px 335px 'sprite.png';
  $search_hover: 378px 256px -378px -256px 19px 19px 401px 335px 'sprite.png';
  $sign-in: 378px 204px -378px -204px 21px 22px 401px 335px 'sprite.png';
  $sign-in_hover: 378px 230px -378px -230px 21px 22px 401px 335px 'sprite.png';
  $tablet-bg: 0px 109px 0px -109px 106px 140px 401px 335px 'sprite.png';
  $tablet-bg_hover: 110px 109px -110px -109px 106px 140px 401px 335px 'sprite.png';
  $threeline: 359px 172px -359px -172px 8px 10px 401px 335px 'sprite.png';

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(%=static=%png-sprite/96dpi/#{$sprite-image});
  }

  @mixin sprite-mixin-template($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    width: nth($sprite, 5);
    height: nth($sprite, 6);
  }

  @mixin bg($sprite, $repeat: no-repeat) {
    @include sprite-mixin-template($sprite);
    $sprite-total-width: nth($sprite, 7);
    $sprite-total-height: nth($sprite, 8);
    background-size: $sprite-total-width, $sprite-total-height;
    background-repeat: $repeat;



  }
