.category {
    &-block {
        background-color: #fff;
        &__inner {
            display: flex;
            max-width: 1920px;
            padding: 30px 15px 0 15px;
            margin: 0 auto;
        }
    }
    &-item {
        width: 33.3333%;
        max-width: 600px;
        &__inner {
            margin: 0 15px;
            height: 400px;
            position: relative;
            display: block;
            &:hover,&:focus {
                .category-item__content-text span {
                    color: #fff;
                }
                .category-item__img img {
                    filter: grayscale(100%);
                }
                .category-item__bg {
                    &--phone {
                        background-image: url(../../static/img/content/c-i-bg-1_hover.png);
                    }
                    &--tablet {
                        background-image: url(../../static/img/content/c-i-bg-2_hover.png);
                    }
                    &--laptop {
                        background-image: url(../../static/img/content/c-i-bg-3_hover.png);
                    }
                }
            }
        }
        &__bg {
            margin: 0 auto;
            padding: 30px 30px 30px 70px;
            height: 100%;
            width: 100%;
            background: transparent no-repeat center / cover;
            &--phone {
                background-image: url(../../static/img/content/c-i-bg-1.jpg);
            }
            &--tablet {
                background-image: url(../../static/img/content/c-i-bg-2.jpg);
            }
            &--laptop {
                background-image: url(../../static/img/content/c-i-bg-3.jpg);
            }
        }
        &__content {
            border: 6px solid #fff;
            width: 100%;
            height: 100%;
            border-left: none;
            position: relative;
            z-index: 3;
            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                background: linear-gradient(to top, #fff, #fff calc(100% - 170px), transparent calc(100% - 170px), transparent calc(100% - 170px), transparent calc(100% - 110px), #fff calc(100% - 110px));
                width: 6px;
                height: 100%;
            }
            &-text {
                position: absolute;
                top: 128px;
                left: -25px;
                span {
                    color: #222;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 27px;
                }
            }
        }
        &__img {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 3;
        }

    }
}
