mixin top-line
    section.top-line
        .container-fluid
            .top-line__inner
                .top-line__phone
                    span.top-line__phone-text Call us now
                    a.top-line__phone-link(href='tel:0800707808') 0 800 707-808
                ul.top-line__list
                    li.top-line__list-item: a.top-line__list-link.is-active(href='#') About us
                    li.top-line__list-item: a.top-line__list-link(href='#') Shipping & Payment
                    li.top-line__list-item: a.top-line__list-link(href='#') Reviews
                    li.top-line__list-item: a.top-line__list-link(href='#') Contacts
